
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #222224;
  min-height: 8vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.app-item {
  width: 100%;
}

.app-header {
  background-color: #323234;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0
}

.app-search {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 4vh;
  text-align: left;
}

.search-item {
  max-width: 100%;
}

.app-content {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  /*padding: 4vh;*/
}

.search-detail {
  background-color: #282f44;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: calc(10px + 1vmin);
  padding: 3vh;
}

.flight-content {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 0.8vmin);
}


.flight-content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  color: #222224;
  padding: 2vh;
  margin: 2vh;
  border-radius: 0.8em;
}

.bold {
  font-weight: bold;
}

.flight-content-item-odd-even:nth-child(even) {
  background-color: lightgreen;
}

.flight-content-item-odd-even:nth-child(odd) {
  background-color: yellowgreen;
}

.app-header-text {
  color: greenyellow;
}

.app-text {
  color: orangered;
  margin-left: 0.3rem;
}

.radio-search {
  color: blanchedalmond;
}

.form-row {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
}

input {
  background-color: darkgrey;
  border: 1px solid #999;
  padding: 0.2rem 0.6rem;
  margin-left: 0.3rem;
}

button {
  border-radius: 0.25rem;
  background-color: greenyellow;
  padding: 0.2rem 0.6rem;
}

.button {
  border-radius: 0.25rem;
  background-color: greenyellow;
  padding: 0.2rem 0.6rem;
}

.button:hover {
  border-radius: 0.25rem;
  background-color: cornflowerblue;
  padding: 0.2rem 0.6rem;
}

button:hover {
  background-color: cornflowerblue;

}

.btn-danger {
  background-color: hotpink;
}

.btn:focus {
  background-color: cornflowerblue
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: center;
}

.header {
  background-color: darkgoldenrod;
  font-weight: 300;
  padding: 0.5em;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
}